<div class="container">
  <h2>Formas de pago</h2>
  <p> La única forma de pago disponible actualmente en eHats es a través de PayPal Express Checkout.</p>
  <p> Es por eso que para tramitar su pedido en eHats necesitará disponer de una cuenta de PayPal propia o deberá introducir su información de
    tarjeta de crédito de manera segura a través de PayPal.</p>
</div>