<div class="container">
  <h2>Información legal</h2>
  <br>
  <p>El acceso y utilización del portal y demás servicios queda sujeto al cumplimiento de las presentes condiciones generales y de las particulares que regulen concretamente los servicios ofrecidos por EHATS, que el usuario declara conocer y aceptar expresa e íntegramente, desde el mismo momento en que accede al portal y/o a los citados servicios, instante en el que adquiere, igualmente, la condición de usuario de los mismos. A estos efectos, se entiende por usuario todo aquel que navegue por el portal y/o utilice los servicios incluidos o adquiera los servicios o productos ofertados en los mismos.</p>

  <p>En consecuencia, toda utilización del portal supone una aceptación, sin reservas de ninguna clase, de las presentes Condiciones Generales de Uso (o Condiciones Generales), de las Condiciones Generales de Contratación, así como, en su caso, de las Condiciones Particulares que, en su caso, pudieran establecerse en el presente portal, independientemente del acceso del portal en el que se encuentre el usuario, estando éste obligado a leerlas en cada uno de dichos accesos.</p>

  <p>Sin perjuicio de lo anterior, es posible que en determinados supuestos el usuario deba aceptar condiciones particulares de carácter específico, que complementen, reemplacen o dejen sin efecto, en todo o en parte, a las condiciones generales, y que el usuario declara igualmente conocer y aceptar expresamente, en los mismos términos regulados en el párrafo precedente para éstas.</p>

  <p>Estas Condiciones Generales se aplicarán tanto a la actividad promocional y de suministro de información y resolución de consultas que se efectúa a través del portal como a la adquisición de bienes y/o la prestación de los servicios ofertados en el mismo, de tal manera que las mismas regirán en todo momento tanto para la simple navegación por el portal, acceso y uso de servicios de EHATS, como para la adquisición de bienes y/o a la prestación de servicios ofertados, si bien estas últimas se regirán tanto por estas Condiciones Generales de Uso, por las Condiciones Generales de Contratación que hayan de aplicarse y por las Condiciones Particulares, que en su caso, pudieran establecerse.</p>

  <p>La información y contenidos que se recogen en el presente portal son propiedad de EHATS o de sus “partners” o colaboradores. Su obtención, reproducción, distribución, cesión, transmisión, transformación, modificación, explotación o comunicación pública para uso comercial o distinto al propio personal del usuario queda totalmente prohibido.</p>

</div>
