<div class="container">
  <h2>Mi perfil</h2>
  <% if user_signed_in? %>
      <%= link_to 'Editar información', edit_user_registration_path, :class => 'btn btn-primary' %>
      <%= link_to 'Historial de pedidos', userorders_path, :class => 'btn btn-warning' %>
  <% else %>
      <p>No has iniciado sesión todavía.</p>
      <p><%= link_to "Identificarse", new_user_session_path %></p>
  <% end %>
</div>