<div class="col-md-3">
  <div class="list-group">
    <% @categories.each do |c| %>
        <a href="<%=category_path(c)%>" class="list-group-item"><%=c.name%></a>
    <% end %>
    <a href="<%=products_path%>" class="list-group-item">Todos los artículos</a>
  </div>
</div>