<!-- Page Content -->
<div class="container">

  <div class="row">
    <%= render 'categories/cateogories_panel' %>
    <div class="col-md-9">
      <div class="row">
        <%= render 'products/products_toList' %>
      </div>
    </div>
  </div>
</div>